nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(70, 70, 80);
  color: white;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

img:hover {
	transform: scale(1.1);
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

img {
  width: 600px;
  height: 400px;
  margin: 10px;
  transition: all 1s;
}

img:hover {
  transform: scale(1.05);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-container {
  display: flex;
  justify-content: center;
}

.chatbox-container {
  height: 500px;
  width: 300px;

}

.chatbox-title {
  height: 40px;
  width: 300px;
  background-color: black;
  justify-content: center;
  align-items: center;
  display: flex;
}

.title {
  color: white;
}

.chatbox-content {
  /* border-color: red;
  border-width: 3x;
  border-style: solid; */


}

.theirmsg {
  height: 20;
  width: 100px;
  background-color: gray;
  margin: 5px;

  padding: 8px 10px;
  border-radius: 10px;
}

.mymsg {
  height: 20;
  width: 100px;
  background-color: green;
  margin: 5px;
  padding: 8px 10px;
  border-radius: 10px;
}

.msg-container-my {
  display: flex;
  justify-content: flex-end;
}

.msg-container-their {
  display: flex;
  justify-content: flex-start;
}

.bottom-bar {
  background-color: black;
  height: 10%;
}
